<h1>Rock, Paper, Scissor</h1>

<form action="/play">
  <div class="radio">
  <label>
    <input type="radio" name="playerPick" value="ROCK">
    ROCK
  </label>
  </div>
  <div class="radio">
  <label>
    <input type="radio" name="playerPick" value="PAPER">
    PAPER
  </label>
  </div>
  <div class="radio">
  <label>
    <input type="radio" name="playerPick" value="SCISSOR">
    SCISSOR
  </label>
  </div>
  <button type="submit">Play</button>
</form>

<h3>@Model</h3>
